@{
    ViewData["Title"] = "Polityka Prywatności";
}

<h1>Polityka Prywatności i Zgodność z RODO</h1>
<h2>Studenci Uniwersytetu WSB Merito w Poznań</h2>
<ol>
    <li>
        <strong>Administrator Danych Osobowych:</strong><br>
        Administratorem danych osobowych jest Studenci Uniwersytetu WSB Merito, z siedzibą w Poznaniu, przy ul. Powstańców Wielkopolskich 5.
    </li>
    <li>
        <strong>Cele przetwarzania danych osobowych:</strong><br>
        Twoje dane osobowe przetwarzamy w następujących celach:
        <ul>
            <li>Realizacja usług edukacyjnych i administracyjnych.</li>
            <li>Poprawne działanie programu Gopher Toolbox</li>
        </ul>
    </li>
    <li>
        <strong>Podstawa prawna przetwarzania danych:</strong><br>
        Przetwarzanie Twoich danych osobowych odbywa się na podstawie:
        <ul>
            <li>Artykułu 6 ust. 1 lit. a RODO (zgoda osoby, której dane dotyczą).</li>
            <li>Artykułu 6 ust. 1 lit. b RODO (niezbędność przetwarzania do wykonania umowy).</li>
            <li>Artykułu 6 ust. 1 lit. c RODO (wypełnienie obowiązku prawnego).</li>
            <li>Artykułu 6 ust. 1 lit. f RODO (prawnie uzasadnione interesy realizowane przez administratora).</li>
        </ul>
    </li>
    <li>
        <strong>Odbiorcy danych:</strong><br>
        Twoje dane osobowe nie będą przekazywane:
        <ul>
            <li>Podmiotom upoważnionym na podstawie przepisów prawa.</li>
            <li>Podmiotom współpracującym z Studenci Uniwersytetu WSB Merito w Poznań na podstawie umów powierzenia przetwarzania danych.</li>
        </ul>
        Program służy jedynie do zaliczenia przedmiotu oraz realizacji przetwarzania danych przez program
    </li>
    <li>
        <strong>Okres przechowywania danych:</strong><br>
        Twoje dane osobowe będą przechowywane przez okres niezbędny do realizacji celów, dla których zostały zebrane, a także zgodnie z obowiązującymi przepisami prawa.
    </li>
    <li>
        <strong>Twoje prawa:</strong><br>
        Masz prawo do:
        <ul>
            <li>Dostępu do swoich danych osobowych oraz otrzymania ich kopii.</li>
            <li>Sprostowania swoich danych osobowych.</li>
            <li>Usunięcia swoich danych osobowych.</li>
            <li>Ograniczenia przetwarzania swoich danych osobowych.</li>
            <li>Przenoszenia swoich danych osobowych.</li>
            <li>Wniesienia sprzeciwu wobec przetwarzania swoich danych osobowych.</li>
            <li>Cofnięcia zgody na przetwarzanie danych osobowych (jeśli przetwarzanie odbywa się na podstawie zgody).</li>
        </ul>
    </li>
    <li>
        <strong>Kontakt w sprawach związanych z ochroną danych osobowych:</strong><br>
        W przypadku pytań dotyczących przetwarzania danych osobowych, prosimy o kontakt pod adresem e-mail: <a href="mailto:rodo@tgies.pl">rodo@tgies.pl</a>.
    </li>
    <li>
        <strong>Prawo do wniesienia skargi:</strong><br>
        Masz prawo do wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych, jeśli uznasz, że przetwarzanie Twoich danych osobowych narusza przepisy RODO.
    </li>
</ol>
<p>Studenci Uniwersytetu WSB Merito w Poznań dbajaą o ochronę Twoich danych osobowych i stosuje odpowiednie środki techniczne oraz organizacyjne, aby zapewnić ich bezpieczeństwo zgodnie z obowiązującymi przepisami prawa.</p>